body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  background: url("assets/mc-bg1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll; /* mobil için doğru */
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  top: 40%;
  transform: translateY(-40%);
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #ff99cc;
}

.subtitle {
  font-size: 18px;
  color: #ffe6f2;
}

.hearts {
  font-size: 30px;
  margin-top: 10px;
}

.top-left-img, .bottom-right-img {
  position: fixed;
  z-index: 2;
  width: 80px;
  border-radius: 16px;
  border: 3px solid white;
}

.top-left-img { top: 15px; left: 15px; }
.bottom-right-img { bottom: 15px; right: 15px; }
